@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geneva", "Verdana", sans-serif; /* Vintage Mac feel */
  overflow: hidden; /* Prevent body scroll */
}

/* Custom Scrollbar for Windows */
.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 1px solid #000000;
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 4px 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: inset 1px 1px 0 0 #000, inset -1px -1px 0 0 #000;
}

.custom-scrollbar::-webkit-scrollbar-button {
  background: #ffffff;
  border: 1px solid #000000;
  height: 16px;
  display: block;
}
